@CHARSET "UTF-8";

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}


#body {
   padding-top:85px;
   padding-bottom:85px;   /* Height of the footer */
   height:100%;
}

/* - Footer - */
#footer {
   position:absolute;
   right:0;
   left:0;
   bottom:0;
   height:70px;   /* Height of the footer */
   /* background:#6cf; */
}

/**/
.navbar navbar-inverse navbar-fixed-top {
	background-color: #000000;
}

.map {
	position: relative;
	width:100%;
	height: 300px;
}

